#embedding1, #embedding2 {
    height: calc(100vh - 200px) !important;
    width: 100%;
}
#basic_plot, #simple_plot, #twin_plot1, #twin_plot2 {
    height: calc(100vh - 110px) !important;
    width: 100%;
}
#sideplot {
    height: 100% !important;
    width: 100%;
    flex-grow: 1;
}
#option_show {
  position: absolute;
  top: 2em;
  right: 2em;
}
.well {
    /* 
     * height: calc(100vh - 80px) !important;
     */
    display: flex;
    flex-flow: column;
}
#sidebarvar {
    flex-grow: 1;
}

/* modal row */

div.modal-body > div.container-fluid > div.row {
  position: relative;
}

div.modal-body > div.container-fluid > div.row > div.col-sm-6:nth-child(2) {
  position: absolute;
  right: 0;
  transform:translateY(-50%);
  top: 50%;
}


div.row > div.col-sm-4 {
    width: 300px;
    height: calc(100vh - 105px) !important;
    overflow-y: scroll;
}
div.row > div.col-sm-8 {
    width: calc(100vw - 450px) !important;
}
